@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/Satoshi-Variable.ttf')
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Satoshi', sans-serif;
}

/* 
    Gradiente 1: #0F49C6 - #7DA6FF | Linear
*/

:root {
    --blu1: #0F49C6;
    --blu2: #7DA6FF;
    --blu3: #D9E5FF;

    --grey1: #F4F4F4;
    --grey2: #F1F1F1;
}

/* Menu superior */
.top-menu {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
}

@media (max-width: 762px) {
    .top-menu {
        display: none;
    }
}

.top-menu nav {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    background-color: rgba(217, 229, 255, 65%);
    border-radius: 0 0 1rem 1rem;
}

/* Menu Superior - Logo */
.top-menu h1 {
    color: var(--blu1);
    font-size: 150%;
}

/* Menu Superior - Navegação */

.top-menu nav ul {
    display: flex;
    flex-direction: row;
}

.top-menu nav ul li {
    list-style: none;
    width: 8rem;
}

.top-menu nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    color: black;
    transition: color .25s;
}

.top-menu nav ul li a:hover {
    color: var(--blu1);
}

.top-menu nav ul li input {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Satoshi', sans-serif;
    color: white;
    background-color: var(--blu1);
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-radius: 2rem;
    border: none;
}

/* Hero */
.hero {
    width: 100%;
    height: 85vh;
    gap: 8%;
    display: flex;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12%;
}

.hero-image {
    flex: 35%;
    height: 100%;
    background-color: var(--blu1);
}

.hero-titulo {
    font-size: 160%;
}

.hero-titulo span {
    color: var(--blu1);
}

.hero-paragrafo p {
    font-size: 100%;
    padding-bottom: 6rem;
}

.hero-botoes {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

@media (max-width: 762px) {
    .hero-botoes {
        flex-direction: column;
        width: 75%;
    }
}

.hero-botoes #hero-btn-contato {
    border: none;
    border-radius: 2rem;
    background-image: linear-gradient(to right, #0F49C6, #7DA6FF);
    color: white;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 120%;
}

.hero-botoes #hero-btn-convenios {
    border: none;
    border-radius: 2rem;
    background-color: var(--blu3);
    color: var(--blu1);
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 120%;
}



/* Diferenciais */

.diferenciais {
    margin-top: -2%;
    margin-bottom: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

@media (max-width: 762px) {
    .diferenciais {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2%;
    }
}

.diffs-card {
    background-color: var(--grey1);
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

@media (max-width: 762px) {
    .diffs-card {
        width: 75%;
    }
}

.diffs-card h1 {
    color: var(--blu1);
    font-size: 1.2rem;
}

.diffs-card p {
    font-size: .9rem;
}



/* Sobre nós */
.sobre-nos {
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media (max-width: 762px) {
    .sobre-nos {
        flex-direction: column-reverse;
    }
}

.sobre-nos-img {
    flex: 50%;
}

.sobre-nos-content {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sobre-nos-content h3 {
    font-size: 120%;
}

.sobre-nos-content h1 {
    font-size: 250%;
}

.sobre-nos-content span {
    color: var(--blu1);
}

.sobre-nos ul {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 762px) {
    .sobre-nos ul {
        display: flex;
        flex-direction: column;
    }
}

.sobre-nos li {
    width: 50%;
}



/* Nossos Serviços */
.nossos-servicos {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.nossos-servicos h1 {
    color: var(--blu1);
    padding: 2%;
}

.servicos-cards {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}

@media (max-width: 762px) {
    .servicos-cards {
        display: flex;
        flex-direction: column;
        gap: 2%;
    }
}

.servicos-card {
    background-color: var(--blu3);
    /* flex-basis: calc(100%/4); */
    text-align: center;
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 2.5%;
    margin: .5%;
    border-radius: 1rem;
}

.servicos-card > * {
    color: var(--blu1);
}



/* Convenios */

.convenios {
    display: flex;
    flex-direction: column;
}

.convenios img {
    max-width: 20%;
}

.convenios-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

#convenios-row-1 {
    justify-content: end;
}

#convenios-row-2 {
    justify-content: start;
}