@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/Satoshi-Variable.ttf')
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Satoshi', sans-serif;
}

/* 
    Gradiente 1: #0F49C6 - #7DA6FF | Linear
*/

:root {
    --blu1: #0F49C6;
    --blu2: #7DA6FF;
    --blu3: #D9E5FF;

    --grey1: #F4F4F4;
    --grey2: #F1F1F1;
}

h1 {
    font-size: 300%;
}

/* Menu superior */
.top-menu {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

@media (max-width: 762px) {
    .top-menu {
        display: none;
    }
}

.top-menu nav {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    background-color: rgba(217, 229, 255, .65);
    backdrop-filter: blur(8px);
    border-radius: 0 0 1rem 1rem;
}


/* Menu Superior - Logo */
.top-menu h1 {
    color: var(--blu1);
    font-size: 150%;
}

/* Menu Superior - Navegação */

.top-menu nav ul {
    display: flex;
    flex-direction: row;
}

.top-menu nav ul li {
    list-style: none;
    width: 8rem;
}

.top-menu nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    color: black;
    transition: color .25s;
}

.top-menu nav ul li a:hover {
    color: var(--blu1);
}

.top-menu nav ul li input {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Satoshi', sans-serif;
    color: white;
    background-color: var(--blu1);
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-radius: 2rem;
    border: none;
}

/* Hero */
.hero {
    width: 100%;
    height: 85vh;
    gap: 8%;
    display: flex;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12%;
}

.hero-image {
    flex: 35%;
    height: 100%;
    background-color: var(--blu1);
}

.hero-titulo {
    font-size: 160%;
}

.hero-titulo h1 {
    font-size: 170%;
}

.hero-titulo span {
    color: var(--blu1);
}

.hero-paragrafo p {
    font-size: 100%;
    padding-bottom: 6rem;
}

.hero-botoes {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.hero-botoes a {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 120%;
    border: none;
    border-radius: 2rem;
    text-decoration: none;
    text-align: center;
}

@media (max-width: 762px) {
    .hero-botoes {
        flex-direction: column;
        width: 75%;
    }
}

.hero-botoes #hero-btn-contato {
    background-image: linear-gradient(to right, #0F49C6, #7DA6FF);
    color: white;
}

.hero-botoes #hero-btn-convenios {
    background-color: var(--blu3);
    color: var(--blu1);
}



/* Diferenciais */

.diferenciais {
    margin-top: -2%;
    margin-bottom: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

@media (max-width: 762px) {
    .diferenciais {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2%;
    }
}

.diffs-card {
    background-color: var(--grey1);
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

@media (max-width: 762px) {
    .diffs-card {
        width: 75%;
    }
}

.diffs-card h1 {
    color: var(--blu1);
    font-size: 1.2rem;
}

.diffs-card p {
    font-size: .9rem;
}



/* Sobre nós */
.sobre-nos {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

@media (max-width: 762px) {
    .sobre-nos {
        flex-direction: column-reverse;
    }
}

.sobre-nos-img {
    flex: 50%;
}

.sobre-nos-img img {
    width: 100%;
    position: relative;
    border-radius: 0 2rem 2rem 0;
}

@media (max-width: 762px) {
    .sobre-nos-img img {
        border-radius: 2rem;
    }
}

.sobre-nos-content {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-nos-content > * {
    width: 50%;
}

.sobre-nos-content h3 {
    font-size: 120%;
}

.sobre-nos-content h1 {
    font-size: 250%;
}

.sobre-nos-content span {
    color: var(--blu1);
}

.sobre-nos ul {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 762px) {
    .sobre-nos ul {
        display: flex;
        flex-direction: column;
    }
}

.sobre-nos li {
    width: 50%;
}

.sobre-nos li::marker {
    color: var(--blu2);
    font-size: 200%;
}

/* Nossos Serviços */
.nossos-servicos {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.nossos-servicos h1 {
    color: var(--blu1);
    padding: 2%;
}

.servicos-cards {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}

@media (max-width: 762px) {
    .servicos-cards {
        display: flex;
        flex-direction: column;
        gap: 2%;
    }
}

.servicos-card {
    background-color: var(--blu3);
    /* flex-basis: calc(100%/4); */
    text-align: center;
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 2.5%;
    margin: .5%;
    border-radius: 1rem;
}

.servicos-card > * {
    color: var(--blu1);
}



/* Convenios */

@keyframes revelar-1 {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes revelar-2 {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}

.convenios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110vh;
}

.convenios img {
    max-width: 20%;
    position: relative;
}

.convenios-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

#convenios-row-1 {
    justify-content: center;
    animation: revelar-1 linear 2s;
    animation-timeline: view();
    animation-range: normal 50%;
}

#convenios-row-2 {
    justify-content: center;
    animation: revelar-2 linear 2s;
    animation-timeline: view();
    animation-range: normal 50%;
}



/* Nossos Profissionais */
.nossos-profissionais {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.nossos-profissionais h1 {
    color: var(--blu1);
    padding-right: 2%;
    align-self: flex-end;
}

.profissionais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    width: 100%;
    height: 100%;
}

@media (max-width: 762px) {
    .profissionais {
        display: block;
        flex-direction: column;
    }    
}

.dentista-card {
    flex: calc(1/5);
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all .5s;
}

@media (max-width: 762px) {
   .dentista-card {
        flex: 1;
        width: 75%;
        height: 65%;
        align-self: center;
   } 

}

@media (min-width: 762px) {
    .dentista-card:hover {
        flex: calc(1/3);
    }
}


#dentista-1 {
    background-image: url("../img/profissionais/dentista1.jpg");
}

#dentista-2 {
    background-image: url("../img/profissionais/dentista2.jpg");
}

#dentista-3 {
    background-image: url("../img/profissionais/dentista3.jpg");
}


/* Contato */
.contato {
    width: 100%;
    height: 100vh;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Formulário */

.entre-em-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    flex: calc(1/2);
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
}

.entre-em-contato form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contato-cta {
    color: var(--blu1);
}

.contato-sect {
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.contato-sect label {
    font-size: 120%;
    font-weight: bold;
}

.contato-sect input, textarea {
    background-color: var(--grey2);
    border: none;
    border-radius: 11px;
    font-size: 110%;
    padding: 1%;
    padding-left: 2%;
}

.contato-sect input, textarea:focus {
    outline: none;
}

.contato-sect input {
    height: 3rem;
}

/* Informações de contato */

.dados-contato {
    padding: 5%;
    background-color: var(--blu1);   
    justify-self: flex-end;
    flex: calc(1/2);
    border-radius: 35px 0 0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mapa {
    width: 100%;
    height: 100%;
    flex: calc(3/4);
}

#mapa iframe {
    width: 100% !important;
    height: 100% !important;
}

.infos-contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
    gap: 2%;
}

.info-card {
    /* background-color: #1c5eec; */
    flex: calc(1/3);
    height: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* opacity: 75%; */
}

.info-title, .info-content {
    color: var(--grey2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.info-title h2 {
    font-size: 90%;
}

.info-title i {
    font-size: 150%;
}

.info-heading {
    display: flex;
    flex-direction: row;
}
